In [1]:
import os
import geopandas as gpd
import sys
sys.path.append('../')
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning, module="pyogrio")
from modulos.importar_02 import *
from modulos.procesos import *
from modulos.importar import *

In [189]:
capa = gpkg()

Archivo:
 /media/sear/63AB-4B80/Documentos/integracion_capas/55_041024_curvas_nivel/entradas/32_curvas_nivel_zacatecas.gpkg

Dimensiones de la tabla -->  (84233, 5)

Nombres de los campos -->  ['identificador', 'altura', 'tipo', 'cali_repr', 'geometry']

Tipos de dato en los campos:
 identificador       int32
altura              int32
tipo               object
cali_repr          object
geometry         geometry
dtype: object

Marco de referencia para sistemas de coordenadas -->  EPSG:4326

In [190]:
capa.head()

,identificador,altura,tipo,cali_repr,geometry
0,319753522,2390,Otro,Definida,"MULTILINESTRING ((-103.79408 22.80367, -103.79..."
1,319753525,2390,Otro,Definida,"MULTILINESTRING ((-103.46776 23.60797, -103.46..."
2,319753526,2390,Otro,Definida,"MULTILINESTRING ((-103.41678 23.52833, -103.41..."
3,319753527,2390,Otro,Definida,"MULTILINESTRING ((-103.41583 23.5446, -103.415..."
4,319753755,2390,Otro,Definida,"MULTILINESTRING ((-100.95451 24.34167, -100.95..."

In [191]:
capa = crea_gid(capa)

In [192]:
capa.dtypes

g_id                int64
identificador       int32
altura              int32
tipo               object
cali_repr          object
geometry         geometry
dtype: object

In [193]:
capa.columns

Index(['g_id', 'identificador', 'altura', 'tipo', 'cali_repr', 'geometry'], dtype='object')

In [194]:
capa = convertir_columna_texto(capa, "identificador")

In [195]:
capa.dtypes

g_id                int64
identificador      object
altura              int32
tipo               object
cali_repr          object
geometry         geometry
dtype: object

In [196]:
capa.head()

,g_id,identificador,altura,tipo,cali_repr,geometry
0,1,319753522,2390,Otro,Definida,"MULTILINESTRING ((-103.79408 22.80367, -103.79..."
1,2,319753525,2390,Otro,Definida,"MULTILINESTRING ((-103.46776 23.60797, -103.46..."
2,3,319753526,2390,Otro,Definida,"MULTILINESTRING ((-103.41678 23.52833, -103.41..."
3,4,319753527,2390,Otro,Definida,"MULTILINESTRING ((-103.41583 23.5446, -103.415..."
4,5,319753755,2390,Otro,Definida,"MULTILINESTRING ((-100.95451 24.34167, -100.95..."

In [197]:
capa["nom_ent"] = "Zacatecas"
capa["cve_ent"] = "32"

In [198]:
print(list(capa))

['g_id', 'identificador', 'altura', 'tipo', 'cali_repr', 'geometry', 'nom_ent', 'cve_ent']

In [199]:
lista_campos = ['g_id', 'cve_ent', 'nom_ent', 'identificador', 'altura', 'tipo', 'cali_repr', 'geometry']

In [200]:
capa = reordenar_columnas(capa, lista_campos)

In [201]:
capa.head()

,g_id,cve_ent,nom_ent,identificador,altura,tipo,cali_repr,geometry
0,1,32,Zacatecas,319753522,2390,Otro,Definida,"MULTILINESTRING ((-103.79408 22.80367, -103.79..."
1,2,32,Zacatecas,319753525,2390,Otro,Definida,"MULTILINESTRING ((-103.46776 23.60797, -103.46..."
2,3,32,Zacatecas,319753526,2390,Otro,Definida,"MULTILINESTRING ((-103.41678 23.52833, -103.41..."
3,4,32,Zacatecas,319753527,2390,Otro,Definida,"MULTILINESTRING ((-103.41583 23.5446, -103.415..."
4,5,32,Zacatecas,319753755,2390,Otro,Definida,"MULTILINESTRING ((-100.95451 24.34167, -100.95..."

In [202]:
capa.dtypes

g_id                int64
cve_ent            object
nom_ent            object
identificador      object
altura              int32
tipo               object
cali_repr          object
geometry         geometry
dtype: object

In [203]:
salida = capa.to_crs(epsg=4326)

In [204]:
ruta = "/home/sear/Documentos/integracion_capas/45_020824_procesos_automatizacion/salidas/32_curvas_nivel_zacatecas.gpkg"

In [205]:
salida.to_file(ruta, layer='32_curvas_nivel_zacatecas', driver="GPKG")